.container {
    display: flex;
    margin: 50px;
    justify-content: flex-end;

}
.cores {
    width: 200px;
    height: 100px;
    border: solid 2px;
    text-align: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: magenta;
}